version: "3.9"

services:
  app:
    image: ghcr.io/ivanutkov/load-test-analizator:latest
    container_name: diploma-app
    restart: always
    ports:
      - "8000:8000"
    env_file:
      - .env

  grafana:
    image: grafana/grafana:latest
    container_name: diploma-grafana
    restart: always
    ports:
      - "3000:3000"
    volumes:
      - ./grafana:/var/lib/grafana

  node_exporter:
    image: prom/node-exporter:latest
    container_name: diploma-node-exporter
    restart: always
    ports:
      - "9100:9100"

  prometheus:
    image: prom/prometheus:latest
    container_name: diploma-prometheus
    restart: always
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus:/etc/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'

  elasticsearch:
    image: opensearchproject/opensearch:2.17.0
    container_name: diploma-elasticsearch
    restart: always
    environment:
      - discovery.type=single-node
      - DISABLE_SECURITY_PLUGIN=true
      - "OPENSEARCH_JAVA_OPTS=-Xms512m -Xmx512m"
    ports:
      - "9200:9200"
    volumes:
      - opensearch-data:/usr/share/opensearch/data

  kibana:
    image: opensearchproject/opensearch-dashboards:2.17.0
    container_name: diploma-kibana
    restart: always
    ports:
      - "5601:5601"
    environment:
      - 'OPENSEARCH_HOSTS=["http://elasticsearch:9200"]'
      - DISABLE_SECURITY_DASHBOARDS_PLUGIN=true

volumes:
  elasticsearch-data:
  opensearch-data:
